@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@500;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

body{
    font-family: 'Murecho', sans-serif;
}